:host{
    display: grid;
    grid-gap:48px;
    grid-template-columns: 322px 1rf;
    padding: 24px;
}

.profile-form__wrapper{
    display:flex ;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--light-color);
    background:var(--dark-color);
    padding: 32px;
    height: calc(100dvh - (24px *4));
    position: relative;

}
.padding-form{


display: grid;
grid-gap: 20px;
}

.two-columns{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:20px;
}
.profile-label{
    display: flex;
}
.profife-form_wrap{
    width: 100%;

    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile-form_wrapMenu{
padding: 0px;
height: 44px;
}
.profile-form_wrapMenu button{
    margin: 0px;
    padding: 0px;
    background:transparent;
    cursor: pointer;
    border:0px;

}
.profile-form_wrapMenu button:first-child{
    margin-right: 10px;
}
.profile-form_menu_svg{
    border:1px solid var(--light-color);
    box-sizing: border-box;
    padding: 14px;
    width: 44px;
    height: 44px;
    border-radius:4px;
    color:var(--light-color);
    margin: 0px;
}

.profile-form__wrapButtons{
    display: flex;
    gap:10px;
    box-sizing: border-box;
    height: 44px;

}
.profile-form__wrapButtons{
    button{
        cursor: pointer;
        margin: 0px;
    }
}
